<%- include("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= blog.title %></div>
    <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" value="<%= blog.title %>">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" value="<%= blog.image %>">
        </div>
        <div class="field">
            <label>Post</label>
            <textarea max-length="500" name="blog[body]" placeholder="Blog Post goes here"><%- blog.body %></textarea>
        </div>
        <div class="field">
            <input class="ui inverted yellow button" type="submit">
        </div>
    </form>
</div>

<%- include("partials/footer") %>