<%- include("partials/header") %>
<div class="ui main text container segment">
    <div class="ui huge header">New Post</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="Title">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="Image">
        </div>
        <div class="field">
            <label>Post</label>
            <textarea max-length="500" name="blog[body]" placeholder="Blog Post goes here"></textarea>
        </div>
        <div class="field">
            <input class="ui inverted yellow button" type="submit">
        </div>
    </form>
</div>

<%- include("partials/footer") %>